<h1>All Emp Details</h1>

{% include 'menu.html' %}

<table cellpading="10" cellspacing="10" border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Cname</th>
        <th>Address</th>
        <th>Contact</th>
        <th colspan="2">Action</th>

    </tr>

    {% for i in emplist%}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.age}}</td>
            <td>{{i.cname}}</td>
            <td>{{i.myaddress}}</td>
            <td>{{i.contact}}</td>
            <td><a href="deleteEmp?id={{i.id}}">Delete</a></td>
            <td><a href="editEmp?sid={{i.id}}">Edit</a></td>

        </tr>

    {%endfor%}

</table>
<h2><a href="/">Home</a></h2>