<h1>All Students Details</h1>

<table cellpading="10" cellspacing="10" border="1">
    <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Email</th>
        <th>College</th>
        <th colspan="2">Action</th>

    </tr>

    {% for i in studentlist%}
        <tr>
            <td>{{i.Rank}}</td>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.college}}</td>
            <td><a href="deleteStd?Rank={{i.Rank}}">Delete</a></td>
            <td><a href="editStd?sid={{i.Rank}}">Edit</a></td>
            
        </tr>

    {%endfor%}

</table>
<h2><a href="/">Home</a></h2>