<h1> User Related Operation</h1>

<h2><a href="{% url 'ORMOperation:fuser'%}">First User Form</a></h2>
<h2><a href="{% url 'ORMOperation:suser'%}">Second User Form</a></h2>
<h2><a href="{% url 'ORMOperation:tuser'%}">Third User Form</a></h2>
<h2><a href="{% url 'ORMOperation:finaluser'%}">Final User Form</a></h2>

<h1>Many To Many ORM Relationship </h1>
<h2><a href="{% url 'ORMOperation:addsinger'%}">Add Singer</a></h2>
<h2><a href="{% url 'ORMOperation:addsong'%}">Add Song</a></h2>
<h2><a href="{% url 'ORMOperation:addsglist'%}">Singer List</a></h2>