<h1>
    Its Employee Registration Form</h1>
<form method="POST">
    {% csrf_token %}

    <table cellpading="10" cellspacing="10" border="1">
        <tr>
            <td>Id</td>
            <td><input type="text" name="id"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" name="name"></td>
        </tr>

        <tr>
            <td>Salary</td>
            <td><input type="text" name="salary"></td>
        </tr>


        <tr>
            <td><input type="submit" value="Save"></td>
            <td><input type="reset" value="Reset"></td>
        </tr>
    </table>
</form>



<h2><a href="/">Home</a></h2>
