<h1>All Employees Income Details</h1>

<table cellspacing='10' cellpadding='10' border='6'>
    <tr>
        <th>ID</th>
        <th>Income</th>
        <th>IncomeType</th>
        <th>IncomeDate</th>
        <th>Description</th>
        <th>User</th>
        <th colspan="2">Action</th>
    </tr>
    {% for i in incomelist %}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.income}}</td>
        <td>{{i.incomeType}}</td>
        <td>{{i.incomeDate}}</td>
        <td>{{i.description}}</td>
        <td>{{i.user}}</td>
        <td><a href="deleteIncome?id={{i.id}}">Delete</a></td>
        <td><a href="editIncome?id={{i.id}}">Edit</a></td>
    </tr>
    {% endfor %}

</table>
<h3><a href="/">Home</a></h3>