{%load static%} {% for i in pl %}
<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <!-- <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a> -->
        <a href="#"><img class="card-img-top" src="{{i.image}}" alt=""></a>
        <div class="card-body">

            <h4 class="card-title">
                <a href="#">{{i.pname}}</a>
            </h4>
            <h5>Rs.{{i.price}}</h5>
            {% if user.is_authenticated %}
            <button><h5><a href="{% url 'Accounts:addToCart' i.id %}">AddToCart</a></h5></button> {% else %}
            <button><h5><a href="{% url 'Accounts:login_view' %}">AddToCart</a></h5></button> {% endif %}
            <p class="card-text">{{i.description | truncatewords:10}}</p>

        </div>
        <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
    </div>
</div>
{% endfor %}