{% extends 'base.html' %} {% block Main %}
<form method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <td>Username</td>
            <td><input type="text" name="uname" id=""></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="pwd" id=""></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"></td>
            <td><input type="reset" value="Reset"></td>
        </tr>
    </table>
</form>
{% if msglogin %}
<div class="alert alert-danger" role="alert">
    {{ msglogin }}
</div>
{% endif %} {% endblock %}