{% load static %}
<!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<!-- Fontawesome core CSS -->
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
<!--GOOGLE FONT -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<!--Slide Show Css -->
<link href="{% static 'ItemSlider/css/main-style.css' %}" rel="stylesheet" />
<!-- custom CSS here -->
<link href="{% static 'css/style.css' %}" rel="stylesheet" />