<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bootstrap E-Commerce Template- DIGI Shop mini</title>
    <!-- css and javascript -->
    {% include 'Base/css.html' %}
    {% include 'Base/js.html' %}
</head>
<body>
    <!-- header  -->
    {% include 'Base/header.html' %}
    <!-- body -->
    {% block bodyblock %}
    {% endblock %}
    <!-- footer -->
    {% include 'Base/footer.html' %}
    

</body>
</html>